template(name='layout')
	+menu
	+yield

template(name='menu')
	.navbar-fixed: nav.green: .nav-wrapper
		ul.left.hide-on-med-and-down
			li: a Beranda
			li: a Tentang
		a.brand-logo.center DISLHK
		ul.right
			li: a(href='/login') Login
		ul.fixed.side-nav
			li.grey.lighten-2: a: b Admin Menu
			ul.collapsible.collapsible-accordion
				each i in list
					li
						a.collapsible-header(href='/peta/{{i.grup}}')= startCase(i.grup)
						.collapsible-body: ul
							each j in i.items
								li: a(href='/peta/{{i.grup}}/{{j}}')= upperCase(j)

template(name='beranda'): .container
	h5 Beranda

template(name='peta'): #peta

template(name='admin'): .container
	.file-field.input-field
		.btn
			span Unggah Peta
			input(type='file')
		.file-path-wrapper
			input.file-path.validate(
				type='text'
				placeholder='Unggah geojson'
			)

template(name='login'): .container
	h5 Login Admin
	form
		input(name= 'username' placeholder= 'Username')
		input(name= 'password' placeholder= 'Password' type= 'password')
		input.btn(type= 'submit' value= 'Login')
