template(name='layout')
	+menu
	.main: +yield

template(name='menu')
	.navbar-fixed: nav.green: .nav-wrapper
		ul.left.hide-on-med-and-down
			li: a Beranda
			li: a Tentang
		a.brand-logo.center DISLHK Riau
		ul.right
			unless currentUser
				li: a(href='/login') Login
			else
				li: a(href='/admin')= currentUser.username
				li: a#logout Logout
		ul.fixed.side-nav.grey.lighten-2
			li.grey.lighten-1: a: b Menu Peta
			ul.collapsible.collapsible-accordion
				each i in list
					li
						a.collapsible-header(href='/peta/{{i.grup}}')= startCase(i.grup)
						.collapsible-body: ul
							each j in i.items
								li: a(href='/peta/{{i.grup}}/{{j}}')= upperCase(j)

template(name='beranda')
	.slider: ul.slides
		li
			img(src='https://wallpapercave.com/wp/fcuObs5.jpg')
			.caption.center-align: .card.green
				h3.black-text Aplikasi Peta Online DLHK Prov. Riau
				p.black-text Pada aplikasi ini anda dapat melihat berbagai data peta yang tersedia pada Dinas Lingkungan Hidup dan Kehutanan Provinsi Riau

template(name='peta'): #peta

template(name='admin'): .container
	br
	.file-field.input-field
		.btn
			span Unggah Peta
			input(type='file')
		.file-path-wrapper
			input.file-path.validate(
				type='text'
				placeholder='Unggah geojson'
			)

template(name='login'): .container
	h5 Login Admin
	form
		input(name= 'username' placeholder= 'Username')
		input(name= 'password' placeholder= 'Password' type= 'password')
		input.btn(type= 'submit' value= 'Login')
